%h1 Roadmap
#col1
  %h2 Redcar 1.0 - Red Editor
  %p This release should have all the features of an excellent text editor, and a wicked project plugin. It should have strong support for extensions/plugins but need not have great IDE features in the core at this point.
  %ul
    %li 
      %p Editor
      %ul
        %li.done basic editing commands (Cut, Copy, Paste, Select)
        %li.done syntax highlighting
        %li snippets
        %li text editing API
        %li code folding (even though I hate it)
        %li column selection/typing (needed?)
        %li auto-completion
        %li select scope
        %li typing '(' with selection puts (selection)
        %li reflow paragraph
        %li symbols
    %li
      %p Commands and Keybindings
      %ul 
        %li keymap system
        %li multiple commands for a keybinding give a popup menu
        %li sensitive to scope
        %li command history
        %li textmate shell command support
        %li macros
        %li textmate macro import
        %li command editor
        %li bundle editor
    %li
      %p Project Plugin
      %ul 
        %li project tab
        %li jump to file dialog
        %li project shell variables
    %li
      %p Tabs
      %ul
        %li HtmlTab
        %li ShellTab
    %li 
      %p Other Textmate Support
      %ul
        %li document templates
        %li shell variable editor
        %li tm_dialog?
    %li
      %p Plugin Support
      %ul
        %li.done plugin dependencies
        %li.done gem plugins
        %li.done plugin reloading
        %li.done plugin testing
        %li databus slot mocking for tests
        %li coverage reporting for plugin tests
  %h2 Redcar 2.0 - Red IDE
  %p This release will be where we can call Redcar an IDE without blushing.
  %ul
    %li 
      %p Ruby IDE
      %ul
        %li class browser
        %li test/unit integration
        %li rpsec integration
