<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Typing Pairs: Include Statements</string>
	<key>scope</key>
	<string>meta.preprocessor.c.include</string>
	<key>settings</key>
	<dict>
		<key>highlightPairs</key>
		<array>
			<array>
				<string>"</string>
				<string>"</string>
			</array>
			<array>
				<string>&lt;</string>
				<string>&gt;</string>
			</array>
		</array>
		<key>smartTypingPairs</key>
		<array>
			<array>
				<string>"</string>
				<string>"</string>
			</array>
			<array>
				<string>&lt;</string>
				<string>&gt;</string>
			</array>
		</array>
	</dict>
	<key>uuid</key>
	<string>1EACF554-A30C-44B0-B97A-11E3FA995045</string>
</dict>
</plist>
