<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Indentation Rules</string>
	<key>scope</key>
	<string>source.c, source.c++, source.objc, source.objc++</string>
	<key>settings</key>
	<dict>
		<key>decreaseIndentPattern</key>
		<string>(?x)
	    ^ (.*\*/)? \s* \} ( [^}{"']* \{ | \s* while \s* \( .* )? [;\s]* (//.*|/\*.*\*/\s*)? $
	|   ^ \s* (public|private|protected): \s* $
	|   ^ \s* @(public|private|protected) \s* $
	</string>
		<key>increaseIndentPattern</key>
		<string>(?x)
	    ^ .* \{ [^}"']* $
	|   ^ \s* (public|private|protected): \s* $
	|   ^ \s* @(public|private|protected) \s* $
	</string>
		<key>indentNextLinePattern</key>
		<string>(?x)^
	    (?! .* [;:{}]                   # do not indent when line ends with ;, :, {, or }
	        \s* (//|/[*] .* [*]/ \s* $) #  …account for potential trailing comment
	    |   @(public|private|protected) # do not indent after obj-c data access keywords
	    )
	    .* [^\s;:{}] \s* $              # indent next if this one isn’t
	                                    #  terminated with ;, :, {, or }
	</string>
		<key>unIndentedLinePattern</key>
		<string>^\s*((/\*|\*/|//|#|template\b.*?&gt;(?!\(.*\))|@protocol|@optional|@interface(?!.*\{)|@implementation|@end).*)?$</string>
	</dict>
	<key>uuid</key>
	<string>02EB44C6-9203-4F4C-BFCB-7E3360B12812</string>
</dict>
</plist>
