<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Typing Pairs: Template/Cast</string>
	<key>scope</key>
	<string>storage.type.c++.template, keyword.operator.c++.cast</string>
	<key>settings</key>
	<dict>
		<key>highlightPairs</key>
		<array>
			<array>
				<string>&lt;</string>
				<string>&gt;</string>
			</array>
		</array>
		<key>smartTypingPairs</key>
		<array>
			<array>
				<string>&lt;</string>
				<string>&gt;</string>
			</array>
		</array>
	</dict>
	<key>uuid</key>
	<string>47DD44E6-B4F5-4C2E-BC62-C6ACEBC02A0D</string>
</dict>
</plist>
