<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>inject(${1:object}) { |${2:injection}, ${3:element}| $4 }$0</string>
	<key>name</key>
	<string>inject object</string>
	<key>scope</key>
	<string>source.ruby</string>
	<key>tabTrigger</key>
	<string>inject</string>
	<key>uuid</key>
	<string>667080D9-62C3-11D9-B8CF-000D93589AF6</string>
</dict>
</plist>
