<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>select { |${1:element}| ${1:element}.$2 }$0</string>
	<key>name</key>
	<string>select element</string>
	<key>scope</key>
	<string>source.ruby</string>
	<key>tabTrigger</key>
	<string>select</string>
	<key>uuid</key>
	<string>66708259-62C3-11D9-B8CF-000D93589AF6</string>
</dict>
</plist>
