<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>class ${1:ClassName} &lt; Struct.new(:${2:attr_names})
	def initialize(*args)
		super
		
		$0
	end
	
	
end</string>
	<key>name</key>
	<string>class .. &lt; Struct .. initialize .. end</string>
	<key>scope</key>
	<string>source.ruby</string>
	<key>tabTrigger</key>
	<string>cla</string>
	<key>uuid</key>
	<string>05DFF82C-5A29-4EBD-93FE-C165FFFB5EA8</string>
</dict>
</plist>
