<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>collect { |${1:element}| ${1:element}.$0 }</string>
	<key>name</key>
	<string>collect element</string>
	<key>scope</key>
	<string>source.ruby</string>
	<key>tabTrigger</key>
	<string>collect</string>
	<key>uuid</key>
	<string>BE3B3E5E-733E-11D9-A833-000A95A89C98</string>
</dict>
</plist>
