<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>evpuonegba@znp.pbz</string>
	<key>contactName</key>
	<string>Rich Barton</string>
	<key>description</key>
	<string>Finds images in your current project and displays them in an image browser that runs inside TextMate.</string>
	<key>name</key>
	<string>ImageBrowser</string>
	<key>ordering</key>
	<array>
		<string>B0869DF4-B5E2-48A5-8550-5BABE67F6D25</string>
	</array>
	<key>uuid</key>
	<string>8653737A-1184-412A-9CBD-5081CBBCF369</string>
</dict>
</plist>
