*~
*.o
*.so
*.log
*.log.*

custom/arrangements.yaml
custom/preferences.yaml
custom/appdata.yaml

rdoc
doc/html
doc/latex
.yardoc
yardoc

vendor/gtksourceview2/Makefile
vendor/gtksourceview2/src/Makefile
vendor/gtksourceview2/src/rbgtksourceview2version.h
plugins/application_swt/vendor/

plugins/dans
