.redcar

*~
*.o
*.so
*.log
*.log.*
*.class
*.gem
*.swp

.yardoc
.server.yaml
.bundle

.DS_Store

doc/
doc/html
doc/latex
plugins/application_swt/vendor/swt/osx64/swt.jar
plugins/application_swt/vendor/swt/osx/swt.jar
plugins/application_swt/vendor/swt/linux/swt.jar
plugins/application_swt/vendor/swt/linux64/swt.jar
plugins/application_swt/vendor/swt/win32/swt.jar
plugins/application_swt/vendor/jface/
plugins/application_swt/vendor/swtbot/
plugins/application_swt/build/
#plugins/application_swt/dist
#plugins/edit_view_swt/vendor/*.jar
plugins/dans
#plugins/*/lib/dist/
pkg

plugins/core/spec/core/*.yaml
plugins/scm_svn/features/fixtures

tmp
