*~
*.o
*.so
*.log
*log*
cache/bundle_commands.yml
cache/bundles.yml
cache/cache.img
cache/grammars.dump
cache/info/*.dump
cache/commands/*.dump
cache/themes.dump
cache/tmp.command
cache/snippets/*.dump
cache/preferences/*.dump

custom/arrangements.yaml
custom/preferences.yaml
custom/appdata.yaml

rdoc
doc/html
doc/latex

textmate
vendor/gtksourceview2
vendor/gtkmateview
vendor/valar
