<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Spell Checking: Disable for Source</string>
	<key>scope</key>
	<string>source, constant, keyword, storage, support, variable</string>
	<key>settings</key>
	<dict>
		<key>spellChecking</key>
		<integer>0</integer>
	</dict>
	<key>uuid</key>
	<string>67C15B0D-A505-4D6D-9443-6B1265C52DD7</string>
</dict>
</plist>
