<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Spell Checking: Enable for Strings</string>
	<key>scope</key>
	<string>source string.quoted - punctuation</string>
	<key>settings</key>
	<dict>
		<key>spellChecking</key>
		<integer>1</integer>
	</dict>
	<key>uuid</key>
	<string>CF9BE765-81D0-4644-9684-4F310C94A3AD</string>
</dict>
</plist>
