<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Miscellaneous</string>
	<key>scope</key>
	<string>source</string>
	<key>settings</key>
	<dict>
		<key>decreaseIndentPattern</key>
		<string>^(.*\*/)?\s*\}[;\s]*$</string>
		<key>increaseIndentPattern</key>
		<string>^.*(\{[^}"']*|\([^)"']*)$</string>
		<key>smartTypingPairs</key>
		<array>
			<array>
				<string>"</string>
				<string>"</string>
			</array>
			<array>
				<string>(</string>
				<string>)</string>
			</array>
			<array>
				<string>{</string>
				<string>}</string>
			</array>
			<array>
				<string>[</string>
				<string>]</string>
			</array>
			<array>
				<string>“</string>
				<string>”</string>
			</array>
			<array>
				<string>‘</string>
				<string>’</string>
			</array>
			<array>
				<string>'</string>
				<string>'</string>
			</array>
			<array>
				<string>`</string>
				<string>`</string>
			</array>
		</array>
		<key>unIndentedLinePattern</key>
		<string>^\s*$</string>
	</dict>
	<key>uuid</key>
	<string>9D03129B-D636-4F5B-A862-E52FD1F912F5</string>
</dict>
</plist>
