<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Typing Pairs: String and Comment</string>
	<key>scope</key>
	<string>string.quoted.double, comment</string>
	<key>settings</key>
	<dict>
		<key>smartTypingPairs</key>
		<array>
			<array>
				<string>"</string>
				<string>"</string>
			</array>
			<array>
				<string>(</string>
				<string>)</string>
			</array>
			<array>
				<string>{</string>
				<string>}</string>
			</array>
			<array>
				<string>[</string>
				<string>]</string>
			</array>
			<array>
				<string>“</string>
				<string>”</string>
			</array>
			<array>
				<string>‘</string>
				<string>’</string>
			</array>
		</array>
	</dict>
	<key>uuid</key>
	<string>BE261D59-88E3-47F6-AAAB-8ACB3E4ACEEC</string>
</dict>
</plist>
