<% image_path = File.expand_path(File.join(@plugin_root, %w(lib find_in_project images))) %>

<tr>
  <td class="file_heading" colspan="2">
    <a class="expand_collapse" data-file_num="<%= @file.num %>">
      <img src="<%= image_path %>/expanded.png" />
      <%= CGI::escapeHTML(@file.name) %>
    </a>
  </td>
</tr>
