<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>${1:public} class ${2:MethodName} {
	$0
}</string>
	<key>name</key>
	<string>class</string>
	<key>scope</key>
	<string>source.csharp</string>
	<key>tabTrigger</key>
	<string>class</string>
	<key>uuid</key>
	<string>B20CDBF9-F842-462E-BA33-AE671E0D3D25</string>
</dict>
</plist>
