<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>\\${1:t} -&gt; ${0:f t}</string>
	<key>name</key>
	<string>\t -&gt; f t</string>
	<key>scope</key>
	<string>source.haskell</string>
	<key>tabTrigger</key>
	<string>\</string>
	<key>uuid</key>
	<string>89248B78-C2C6-48EE-BC47-CF8E9A5EA0E7</string>
</dict>
</plist>
