<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>module ${1:Main} where

${2:main = ${3:putStrLn "Hello World"}}</string>
	<key>name</key>
	<string>Module</string>
	<key>scope</key>
	<string>source.haskell</string>
	<key>tabTrigger</key>
	<string>mod</string>
	<key>uuid</key>
	<string>21646767-DD1B-4BA9-BF3B-15968F8672AB</string>
</dict>
</plist>
