<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fileTypes</key>
	<array>
		<string>vala</string>
	</array>
	<key>foldingStartMarker</key>
	<string>/\*\*|\{\s*$</string>
	<key>foldingStopMarker</key>
	<string>\*\*/|^\s*\}</string>
	<key>name</key>
	<string>Vala</string>
	<key>patterns</key>
	<array>
		<dict>
			<key>match</key>
			<string>///.*$</string>
			<key>name</key>
			<string>comment.documentation.vala</string>
		</dict>
		<dict>
			<key>match</key>
			<string>//.*$</string>
			<key>name</key>
			<string>comment.line.double-slash.vala</string>
		</dict>
		<dict>
			<key>begin</key>
			<string>/\*</string>
			<key>end</key>
			<string>\*/</string>
			<key>name</key>
			<string>comment.block.vala</string>
		</dict>
		<dict>
			<key>begin</key>
			<string>(?x)^\s*
((?:\b(?:new|public|protected|internal|private|abstract|sealed|static)\b\s)*)
(class)\s+
([A-Za-z_]\w+)\b</string>
			<key>captures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>storage.modifier.vala</string>
				</dict>
				<key>2</key>
				<dict>
					<key>name</key>
					<string>storage.type.vala</string>
				</dict>
				<key>3</key>
				<dict>
					<key>name</key>
					<string>entity.name.class.vala</string>
				</dict>
			</dict>
			<key>end</key>
			<string>{</string>
			<key>name</key>
			<string>meta.definition.class.vala</string>
			<key>patterns</key>
			<array>
				<dict>
					<key>include</key>
					<string>#class-inheritance</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>begin</key>
			<string>(?x)^\s*		# start of line
((?:\b(?:new|public|protected|internal|private|static|virtual|sealed|override|abstract|extern)\b\s)*) 					# method-modifiers
\b((?:\w+\.)*[A-Za-z_]\w*\b\??)\s		# type
([A-Za-z_]\w*)\s*					# name
(?=\()</string>
			<key>captures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>storage.modifier.vala</string>
				</dict>
				<key>2</key>
				<dict>
					<key>name</key>
					<string>storage.type.vala</string>
				</dict>
				<key>3</key>
				<dict>
					<key>name</key>
					<string>entity.name.function.vala</string>
				</dict>
			</dict>
			<key>end</key>
			<string>\)</string>
			<key>name</key>
			<string>meta.definition.method.vala</string>
			<key>patterns</key>
			<array>
				<dict>
					<key>include</key>
					<string>#statement-remainder</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>match</key>
			<string>\b(true|false|null|this|base)\b</string>
			<key>name</key>
			<string>constant.language.vala</string>
		</dict>
		<dict>
			<key>match</key>
			<string>\b((0(x|X)[0-9a-fA-F]*)|(([0-9]+\.?[0-9]*)|(\.[0-9]+))((e|E)(\+|-)?[0-9]+)?)(L|l|UL|ul|u|U|F|f|ll|LL|ull|ULL)?\b</string>
			<key>name</key>
			<string>constant.numeric.vala</string>
		</dict>
		<dict>
			<key>match</key>
			<string>\b(if|else|while|for|foreach|do|return|continue|break|switch|case|goto|throw|try|catch|finally|lock)\b</string>
			<key>name</key>
			<string>keyword.control.vala</string>
		</dict>
		<dict>
			<key>match</key>
			<string>\b(new|is|checked|unchecked|typeof|sizeof|override|in|out|ref|readonly|params|stackalloc|as)\b</string>
			<key>name</key>
			<string>keyword.operator.vala</string>
		</dict>
		<dict>
			<key>match</key>
			<string>\b(event|delegate|explicit|implicit|in|set|get)\b</string>
			<key>name</key>
			<string>keyword.other.vala</string>
		</dict>
		<dict>
			<key>match</key>
			<string>\b(internal|public|protected|private|static|const|new|sealed|abstract|override|extern|unsafe|readonly|volatile)\b</string>
			<key>name</key>
			<string>storage.modifier.vala</string>
		</dict>
		<dict>
			<key>begin</key>
			<string>"</string>
			<key>end</key>
			<string>"</string>
			<key>name</key>
			<string>string.quoted.double.vala</string>
			<key>patterns</key>
			<array>
				<dict>
					<key>match</key>
					<string>\\.</string>
					<key>name</key>
					<string>constant.character.escaped.untitled</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>match</key>
			<string>'.*\'</string>
			<key>name</key>
			<string>string.quoted.single.vala</string>
		</dict>
		<dict>
			<key>captures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>keyword.other.using</string>
				</dict>
				<key>2</key>
				<dict>
					<key>name</key>
					<string>entity.name.package.vala</string>
				</dict>
			</dict>
			<key>match</key>
			<string>^\s*(using)\s+([^ ;]*);</string>
			<key>name</key>
			<string>meta.keyword.using.vala</string>
		</dict>
		<dict>
			<key>include</key>
			<string>#builtin-types</string>
		</dict>
		<dict>
			<key>captures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>keyword.other.namespace</string>
				</dict>
				<key>2</key>
				<dict>
					<key>name</key>
					<string>entity.name.namespace.vala</string>
				</dict>
			</dict>
			<key>match</key>
			<string>^\s*(namespace)\s+([^ ]+)(?:\s*{)?$</string>
			<key>name</key>
			<string>meta.keyword.namespace</string>
		</dict>
	</array>
	<key>repository</key>
	<dict>
		<key>builtin-types</key>
		<dict>
			<key>patterns</key>
			<array>
				<dict>
					<key>match</key>
					<string>\b(var|bool|byte|sbyte|char|decimal|double|float|int|uint|long|ulong|object|short|ushort|string|void|class|struct|enum|interface)\b\??</string>
					<key>name</key>
					<string>storage.type.vala</string>
				</dict>
			</array>
		</dict>
		<key>class-inheritance</key>
		<dict>
			<key>patterns</key>
			<array>
				<dict>
					<key>begin</key>
					<string>:</string>
					<key>end</key>
					<string>(?={)</string>
					<key>patterns</key>
					<array>
						<dict>
							<key>include</key>
							<string>#class-inheritanceII</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<key>class-inheritanceII</key>
		<dict>
			<key>captures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>storage.type.vala</string>
				</dict>
			</dict>
			<key>match</key>
			<string>\s*,?([A-Za-z_]\w*)\b</string>
		</dict>
		<key>statement-remainder</key>
		<dict>
			<key>patterns</key>
			<array>
				<dict>
					<key>begin</key>
					<string>\(</string>
					<key>end</key>
					<string>(?=\))</string>
					<key>name</key>
					<string>meta.definition.param-list.vala</string>
					<key>patterns</key>
					<array>
						<dict>
							<key>include</key>
							<string>#builtin-types</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
	</dict>
	<key>scopeName</key>
	<string>source.vala</string>
	<key>uuid</key>
	<string>5FBC8212-3C2F-45AC-83D2-0C9195878913</string>
</dict>
</plist>
