<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>${1:expression} unless ${2:condition};
</string>
	<key>name</key>
	<string>Conditional One-line</string>
	<key>scope</key>
	<string>source.perl</string>
	<key>tabTrigger</key>
	<string>xunless</string>
	<key>uuid</key>
	<string>991A53EE-9471-45EC-9D78-1258AB1BC2AC</string>
</dict>
</plist>
