<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>sub ${1:function_name} {
	${2:# body...}
}
</string>
	<key>name</key>
	<string>Function</string>
	<key>scope</key>
	<string>source.perl</string>
	<key>tabTrigger</key>
	<string>sub</string>
	<key>uuid</key>
	<string>4734090D-F23D-4D6B-8581-AC1E1B776DCD</string>
</dict>
</plist>
