<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>${TM_SELECTED_TEXT/(^|$|\t)/|/g}</string>
	<key>name</key>
	<string>Convert Tabs To Table</string>
	<key>scope</key>
	<string>text.html.textile</string>
	<key>uuid</key>
	<string>E0D9B2D7-163F-493B-ACC6-29AF9C5F00BF</string>
</dict>
</plist>
