<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>[% IF ${1:condition} %]
	$2
[% ELSE %]
	$3
[% END %]</string>
	<key>name</key>
	<string>if</string>
	<key>scope</key>
	<string>text.html.tt</string>
	<key>tabTrigger</key>
	<string>if</string>
	<key>uuid</key>
	<string>30C5E785-BD38-4ECD-8F1E-E57E46D96659</string>
</dict>
</plist>
