<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>Keywords: </string>
	<key>name</key>
	<string>Keywords</string>
	<key>scope</key>
	<string>text.blog</string>
	<key>tabTrigger</key>
	<string>keyw</string>
	<key>uuid</key>
	<string>5CCBC664-2477-4C8C-8B8B-7B57DB15DB23</string>
</dict>
</plist>
