<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>#include "${1:${TM_FILENAME/\..+$/.h/}}"</string>
	<key>name</key>
	<string>#include "…"</string>
	<key>scope</key>
	<string>source.c, source.objc, source.c++, source.objc++</string>
	<key>tabTrigger</key>
	<string>inc</string>
	<key>uuid</key>
	<string>9AB31B76-7298-11D9-813A-000D93589AF6</string>
</dict>
</plist>
