<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>std::vector&lt;${1:char}&gt; v$0;</string>
	<key>name</key>
	<string>std::vector</string>
	<key>scope</key>
	<string>source.c++, source.objc++</string>
	<key>tabTrigger</key>
	<string>vector</string>
	<key>uuid</key>
	<string>5E468268-ACAF-11D9-987D-000D93589AF6</string>
</dict>
</plist>
