<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>std::map&lt;${1:key}, ${2:value}&gt; map$0;</string>
	<key>name</key>
	<string>std::map</string>
	<key>scope</key>
	<string>source.c++, source.objc++</string>
	<key>tabTrigger</key>
	<string>map</string>
	<key>uuid</key>
	<string>A295A902-ACAF-11D9-987D-000D93589AF6</string>
</dict>
</plist>
