<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Miscellaneous</string>
	<key>scope</key>
	<string>source.php</string>
	<key>settings</key>
	<dict>
		<key>highlightPairs</key>
		<array>
			<array>
				<string>(</string>
				<string>)</string>
			</array>
			<array>
				<string>{</string>
				<string>}</string>
			</array>
			<array>
				<string>[</string>
				<string>]</string>
			</array>
			<array>
				<string>“</string>
				<string>”</string>
			</array>
		</array>
	</dict>
	<key>uuid</key>
	<string>F15B444C-13E3-4A3C-83E1-4A6E0C1A84F3</string>
</dict>
</plist>
