<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Indenting</string>
	<key>scope</key>
	<string>source.yaml</string>
	<key>settings</key>
	<dict>
		<key>decreaseIndentPattern</key>
		<string>^\s+\}$</string>
		<key>increaseIndentPattern</key>
		<string>^\s*.*(:|-) ?(&amp;\w+)?(\{[^}"']*|\([^)"']*)?$</string>
	</dict>
	<key>uuid</key>
	<string>78CB70FF-5071-11DA-B402-000A95AF0064</string>
</dict>
</plist>
