<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>for ($1;$2;$3) {
	$0
}</string>
	<key>name</key>
	<string>for</string>
	<key>scope</key>
	<string>source.vala</string>
	<key>tabTrigger</key>
	<string>for</string>
	<key>uuid</key>
	<string>1CF35A13-3B19-4232-90C5-C7C867C455D4</string>
</dict>
</plist>
