<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>${1:public} ${2:Type} ${3:Name} {
	get {
		$0
	}
}</string>
	<key>name</key>
	<string>read-only property (roprop)</string>
	<key>scope</key>
	<string>source.vala</string>
	<key>tabTrigger</key>
	<string>roprop</string>
	<key>uuid</key>
	<string>B6F0EEDE-491C-4A45-886B-7A30BD87C45E</string>
</dict>
</plist>
