<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Unity (C#) Auto Complete</string>
	<key>scope</key>
	<string>source.csharp.unity</string>
	<key>settings</key>
	<dict>
		<key>completions</key>
		<array>
			<string>AnimationPlayMode</string>
			<string>AnisotropicFiltering</string>
			<string>Application</string>
			<string>AudioListener</string>
			<string>AutoConnectBy</string>
			<string>Bounds</string>
			<string>CameraClearFlags</string>
			<string>Collision</string>
			<string>CollisionFlags</string>
			<string>Color</string>
			<string>ContactPoint</string>
			<string>ControllerColliderHit</string>
			<string>ControllerControllerHit</string>
			<string>Debug</string>
			<string>EditorUtility</string>
			<string>FilterMode</string>
			<string>ForceMode</string>
			<string>GL</string>
			<string>GizmoType</string>
			<string>Gizmos</string>
			<string>Graphics</string>
			<string>Input</string>
			<string>JointLimits</string>
			<string>JointMotor</string>
			<string>JointSpring</string>
			<string>LayerMask</string>
			<string>LightRenderMode</string>
			<string>LightType</string>
			<string>Mathf</string>
			<string>Matrix4x4</string>
			<string>MenuCommand</string>
			<string>Object</string>
			<string>AnimationClip</string>
			<string>AudioClip</string>
			<string>Component</string>
			<string>Animation</string>
			<string>AudioSource</string>
			<string>Behaviour</string>
			<string>Camera</string>
			<string>ConstantForce</string>
			<string>GUIElement</string>
			<string>GUIText</string>
			<string>GUITexture</string>
			<string>GUILayer</string>
			<string>LensFlare</string>
			<string>Light</string>
			<string>MonoBehaviour</string>
			<string>Projector</string>
			<string>ShaderLayer</string>
			<string>Skybox</string>
			<string>Collider</string>
			<string>BoxCollider</string>
			<string>CapsuleCollider</string>
			<string>CharacterController</string>
			<string>RaycastCollider</string>
			<string>SphereCollider</string>
			<string>Joint</string>
			<string>CharacterJoint</string>
			<string>HingeJoint</string>
			<string>SpringJoint</string>
			<string>LineRenderer</string>
			<string>ParticleAnimator</string>
			<string>ParticleEmitter</string>
			<string>Renderer</string>
			<string>ParticleRenderer</string>
			<string>Rigidbody</string>
			<string>TextMesh</string>
			<string>Transform</string>
			<string>Flare</string>
			<string>GameObject</string>
			<string>LodMesh</string>
			<string>Material</string>
			<string>PhysicMaterial</string>
			<string>ScriptableObject</string>
			<string>MeshImporter</string>
			<string>ScriptableWizard</string>
			<string>Shader</string>
			<string>Texture</string>
			<string>FileTexture</string>
			<string>RenderTexture</string>
			<string>ParticleRenderMode</string>
			<string>PhysicMaterialCombine</string>
			<string>Physics</string>
			<string>PlayerPrefs</string>
			<string>Quaternion</string>
			<string>Random</string>
			<string>Ray</string>
			<string>RaycastHit</string>
			<string>Rect</string>
			<string>Resolution</string>
			<string>RuntimePlatform</string>
			<string>Screen</string>
			<string>Selection</string>
			<string>SelectionMode</string>
			<string>SendMessageOptions</string>
			<string>ShaderProperties</string>
			<string>Space</string>
			<string>Time</string>
			<string>Vector3</string>
			<string>Vector4</string>
			<string>WWW</string>
			<string>YieldInstruction</string>
			<string>Coroutine</string>
			<string>WaitForFixedUpdate</string>
			<string>WaitForSeconds</string>
		</array>
	</dict>
	<key>uuid</key>
	<string>2EA48DD3-FDD2-4DDA-B048-229036CA310A</string>
</dict>
</plist>
