<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>xriva@fo.bet</string>
	<key>contactName</key>
	<string>Kevin Ballard</string>
	<key>description</key>
	<string>&lt;a href="http://unspace.ca/discover/haml"&gt;HTML Abstraction Markup Language&lt;/a&gt; is a templating engine for Ruby on Rails.</string>
	<key>name</key>
	<string>Ruby Haml</string>
	<key>uuid</key>
	<string>4618480A-F4C3-40FE-8719-DE54CBDFB92A</string>
</dict>
</plist>
