<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>\subsubsection{${1:subsubsection name}} % (fold)
\label{ssub:${2:${1/\\\w+\{(.*?)\}|\\(.)|(\w+)|([^\w\\]+)/(?4:_:\L$1$2$3)/g}}}
${0:$TM_SELECTED_TEXT}
% subsubsection $2 (end)</string>
	<key>name</key>
	<string>Sub Sub Section</string>
	<key>scope</key>
	<string>text.tex.latex</string>
	<key>tabTrigger</key>
	<string>subs</string>
	<key>uuid</key>
	<string>DF92968D-BF59-11D9-A668-000A95C0F626</string>
</dict>
</plist>
