<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>\subsection{${1:subsection name}} % (fold)
\label{sub:${2:${1/\\\w+\{(.*?)\}|\\(.)|(\w+)|([^\w\\]+)/(?4:_:\L$1$2$3)/g}}}
${0:$TM_SELECTED_TEXT}
% subsection $2 (end)</string>
	<key>name</key>
	<string>Sub Section</string>
	<key>scope</key>
	<string>text.tex.latex</string>
	<key>tabTrigger</key>
	<string>sub</string>
	<key>uuid</key>
	<string>4B41348F-BE2C-11D9-8F93-000D93589AF6</string>
</dict>
</plist>
