<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>\\${1:text${2:bf}}{$TM_SELECTED_TEXT}</string>
	<key>keyEquivalent</key>
	<string>^E</string>
	<key>name</key>
	<string>Command — \command{…}</string>
	<key>scope</key>
	<string>text.tex.latex</string>
	<key>uuid</key>
	<string>7D3548FA-AE80-11D9-8B45-000D93B6E43C</string>
</dict>
</plist>
