<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>\[
	$TM_SELECTED_TEXT$1
\]</string>
	<key>keyEquivalent</key>
	<string>^M</string>
	<key>name</key>
	<string>Display Math — \[ … \]</string>
	<key>scope</key>
	<string>text.tex.latex</string>
	<key>tabTrigger</key>
	<string>$$</string>
	<key>uuid</key>
	<string>F38DDE93-BF77-449D-A4C9-6C525ECAC6FB</string>
</dict>
</plist>
