<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>\( $TM_SELECTED_TEXT$1 \)</string>
	<key>keyEquivalent</key>
	<string>^M</string>
	<key>name</key>
	<string>Math Mode — \( … \)</string>
	<key>scope</key>
	<string>text.tex.latex</string>
	<key>uuid</key>
	<string>445F9B97-7D25-4262-A715-03F9D688856A</string>
</dict>
</plist>
