<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Style: Header</string>
	<key>scope</key>
	<string>meta.diff.header</string>
	<key>settings</key>
	<dict>
		<key>background</key>
		<string>#5685E3</string>
		<key>foreground</key>
		<string>#FFFFFF</string>
	</dict>
	<key>uuid</key>
	<string>ED5636AE-09EF-46C4-A4F8-B88F701763E2</string>
</dict>
</plist>
