<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Style: Range</string>
	<key>scope</key>
	<string>meta.diff.range</string>
	<key>settings</key>
	<dict>
		<key>background</key>
		<string>#3467D1</string>
		<key>fontStyle</key>
		<string>italic</string>
		<key>foreground</key>
		<string>#FFFFFF</string>
	</dict>
	<key>uuid</key>
	<string>71A420A8-0892-4622-BDA4-CC00D98C59E6</string>
</dict>
</plist>
