<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Style: Changed</string>
	<key>scope</key>
	<string>markup.changed</string>
	<key>settings</key>
	<dict>
		<key>background</key>
		<string>#F5C411</string>
		<key>foreground</key>
		<string>#FFFFFF</string>
	</dict>
	<key>uuid</key>
	<string>EB0FD215-C2EE-4576-86FD-ABA3EDCB5A7B</string>
</dict>
</plist>
