<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>void draw() {
	$1
}</string>
	<key>name</key>
	<string>draw</string>
	<key>scope</key>
	<string>source.processing</string>
	<key>tabTrigger</key>
	<string>se</string>
	<key>uuid</key>
	<string>78A35FDC-F40B-48AC-93D2-97D303A51FF4</string>
</dict>
</plist>
