<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>string $1 = $2;</string>
	<key>name</key>
	<string>string</string>
	<key>scope</key>
	<string>source.processing</string>
	<key>tabTrigger</key>
	<string>str</string>
	<key>uuid</key>
	<string>4410834F-F43B-4BE9-BC3C-B05CB8E13382</string>
</dict>
</plist>
