


#output {
  border: 1px solid #555;
  margin-top: 20px;
  
}
#output table {
  width: 100%;
  border-collapse: collapse;
  background-color: #FFF; 
  font-size: 12px; 
}
#output table tr:hover {
  background-color: #f1f1f1; 
}

#output table th {
  border: 1px solid #eaeaea;
  padding: 5px;
  background-color: #f1f1f1; 
}

#output table td {
  border: 1px solid #eaeaea;
  padding: 2px; 
}

#output table td.lines {
  text-align: right;
  width: 0%;
  font-weight: bold;
}

#output table td.content {
  width: 100%;  
}

#output table td.location {
  white-space: nowrap;
}

#output table td b {
  color: red;
}