<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Symbol List</string>
	<key>scope</key>
	<string>constant.other.name.xml.plist</string>
	<key>settings</key>
	<dict>
		<key>showInSymbolList</key>
		<string>1</string>
	</dict>
	<key>uuid</key>
	<string>F8D1160E-C397-45DD-86A8-BC1CC0C8676A</string>
</dict>
</plist>
