<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Typing Pairs</string>
	<key>scope</key>
	<string>source.plist - string - comment - constant.other.key</string>
	<key>settings</key>
	<dict>
		<key>smartTypingPairs</key>
		<array>
			<array>
				<string>=</string>
				<string>;</string>
			</array>
			<array>
				<string>"</string>
				<string>"</string>
			</array>
			<array>
				<string>(</string>
				<string>)</string>
			</array>
			<array>
				<string>{</string>
				<string>}</string>
			</array>
			<array>
				<string>[</string>
				<string>]</string>
			</array>
			<array>
				<string>“</string>
				<string>”</string>
			</array>
			<array>
				<string>'</string>
				<string>'</string>
			</array>
			<array>
				<string>`</string>
				<string>`</string>
			</array>
		</array>
	</dict>
	<key>uuid</key>
	<string>88C56C14-B8C2-409E-9E1E-55777FB354EE</string>
</dict>
</plist>
