<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Typing Pairs: Defaults</string>
	<key>scope</key>
	<string>text.html.textile</string>
	<key>settings</key>
	<dict>
		<key>smartTypingPairs</key>
		<array>
			<array>
				<string>_</string>
				<string>_</string>
			</array>
			<array>
				<string>*</string>
				<string>*</string>
			</array>
			<array>
				<string>"</string>
				<string>"</string>
			</array>
			<array>
				<string>(</string>
				<string>)</string>
			</array>
			<array>
				<string>{</string>
				<string>}</string>
			</array>
			<array>
				<string>[</string>
				<string>]</string>
			</array>
			<array>
				<string>“</string>
				<string>”</string>
			</array>
			<array>
				<string>`</string>
				<string>`</string>
			</array>
			<array>
				<string>@</string>
				<string>@</string>
			</array>
			<array>
				<string>%</string>
				<string>%</string>
			</array>
			<array>
				<string>^</string>
				<string>^</string>
			</array>
			<array>
				<string>~</string>
				<string>~</string>
			</array>
		</array>
	</dict>
	<key>uuid</key>
	<string>18DE9523-B3B2-42EE-A099-210635E7FFEB</string>
</dict>
</plist>
