<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>grengbbyf@tznvy.pbz</string>
	<key>contactName</key>
	<string>Matthew Winter</string>
	<key>description</key>
	<string>Language grammar, snippets, and more for the C# language. Which is intended to be a simple, modern, general-purpose, object-oriented programming language. To be executed through an implementation of the Common Language Runtime (CLR). Such as the &lt;a href="http://msdn.microsoft.com/netframework/"&gt;Microsoft .NET Initiative&lt;/a&gt;, &lt;a href="http://www.mono-project.com/"&gt;Mono&lt;/a&gt; or &lt;a href="http://www.gnu.org/software/dotgnu/"&gt;dotGNU&lt;/a&gt;.</string>
	<key>mainMenu</key>
	<dict>
		<key>items</key>
		<array>
			<string>970A0152-E351-4E75-8A2B-665662ECDA02</string>
			<string>173060DB-F9B6-430F-9F63-13B19B54012C</string>
			<string>------------------------------------</string>
			<string>00E7B505-C6A2-48C3-ABBE-30CBD8ABAB89</string>
		</array>
		<key>submenus</key>
		<dict>
			<key>173060DB-F9B6-430F-9F63-13B19B54012C</key>
			<dict>
				<key>items</key>
				<array>
					<string>6915B574-5910-4255-802F-FD995500A0B2</string>
					<string>F1BB288E-0BAD-4833-BB6E-1C7E958041F6</string>
				</array>
				<key>name</key>
				<string>Idioms</string>
			</dict>
			<key>970A0152-E351-4E75-8A2B-665662ECDA02</key>
			<dict>
				<key>items</key>
				<array>
					<string>6E186131-8557-4982-91D8-EDBCAA1511B2</string>
					<string>B20CDBF9-F842-462E-BA33-AE671E0D3D25</string>
					<string>CD2EA246-E142-47E1-890F-599616512764</string>
					<string>C1C6324B-5AA9-4FD7-967F-CC518A02B137</string>
					<string>------------------------------------</string>
					<string>58303EDB-6E36-4222-9422-4104932A8E51</string>
					<string>52788632-ECB3-4F3F-9423-03E0E35B20C8</string>
					<string>18DBF19B-30B1-4218-8B4F-1D940A07D93B</string>
					<string>F9184AE4-4ECF-4D4F-8D18-87CC28EFE0B8</string>
					<string>EED18275-324E-4176-8806-89938FE0146B</string>
					<string>------------------------------------</string>
					<string>F5AEFF89-5CBB-4079-8FEA-F4AC5D2F390A</string>
					<string>F8D557E9-81DE-45FF-A089-F2B3F8CD6B4F</string>
					<string>D528787E-50F4-484A-B93C-32A3F6808B85</string>
					<string>------------------------------------</string>
					<string>5AA72CF4-2C2D-494F-B56C-832E141A7132</string>
					<string>5EC2C939-D491-4EF4-B53E-EA87FCED249D</string>
					<string>1C9A1C2A-112F-44C7-AD51-DEE6BBF0FC35</string>
					<string>------------------------------------</string>
					<string>0B5657B1-73AA-4989-B586-4E8C414C600B</string>
					<string>2C7396D8-DBE4-4D5D-A659-E5CC2BA19CCE</string>
					<string>EF1EA22E-9591-4267-BED6-5CA9E8B74661</string>
					<string>C1F69B97-3E59-4D60-A355-DF2DB4D2EF5C</string>
					<string>------------------------------------</string>
					<string>9E4C6824-F9E0-4B64-B1F6-8DCF5F610DAC</string>
					<string>00D42E85-D1BC-4137-93CB-B4055C55C099</string>
					<string>------------------------------------</string>
					<string>A0D68D92-F7D2-4B35-ADC4-0AECC0F54EF6</string>
				</array>
				<key>name</key>
				<string>Declarations</string>
			</dict>
		</dict>
	</dict>
	<key>name</key>
	<string>C#</string>
	<key>ordering</key>
	<array>
		<string>1BA75B32-707C-11D9-A928-000D93589AF6</string>
		<string>1BA72668-707C-11D9-A928-000D93589AF6</string>
		<string>129C3B3E-1F4B-4B48-AD4C-E52755C903B7</string>
		<string>5EC2C939-D491-4EF4-B53E-EA87FCED249D</string>
		<string>B20CDBF9-F842-462E-BA33-AE671E0D3D25</string>
		<string>00E7B505-C6A2-48C3-ABBE-30CBD8ABAB89</string>
		<string>1C9A1C2A-112F-44C7-AD51-DEE6BBF0FC35</string>
		<string>EED18275-324E-4176-8806-89938FE0146B</string>
		<string>0B5657B1-73AA-4989-B586-4E8C414C600B</string>
		<string>F8D557E9-81DE-45FF-A089-F2B3F8CD6B4F</string>
		<string>D528787E-50F4-484A-B93C-32A3F6808B85</string>
		<string>EF1EA22E-9591-4267-BED6-5CA9E8B74661</string>
		<string>C1F69B97-3E59-4D60-A355-DF2DB4D2EF5C</string>
		<string>F5AEFF89-5CBB-4079-8FEA-F4AC5D2F390A</string>
		<string>CD2EA246-E142-47E1-890F-599616512764</string>
		<string>6915B574-5910-4255-802F-FD995500A0B2</string>
		<string>6E186131-8557-4982-91D8-EDBCAA1511B2</string>
		<string>52788632-ECB3-4F3F-9423-03E0E35B20C8</string>
		<string>18DBF19B-30B1-4218-8B4F-1D940A07D93B</string>
		<string>F9184AE4-4ECF-4D4F-8D18-87CC28EFE0B8</string>
		<string>58303EDB-6E36-4222-9422-4104932A8E51</string>
		<string>F1BB288E-0BAD-4833-BB6E-1C7E958041F6</string>
		<string>C1C6324B-5AA9-4FD7-967F-CC518A02B137</string>
		<string>5AA72CF4-2C2D-494F-B56C-832E141A7132</string>
		<string>9E4C6824-F9E0-4B64-B1F6-8DCF5F610DAC</string>
		<string>A0D68D92-F7D2-4B35-ADC4-0AECC0F54EF6</string>
		<string>2C7396D8-DBE4-4D5D-A659-E5CC2BA19CCE</string>
		<string>00D42E85-D1BC-4137-93CB-B4055C55C099</string>
	</array>
	<key>uuid</key>
	<string>66623882-73FB-11D9-85C6-000D93589AF6</string>
</dict>
</plist>
