<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>\n</string>
	<key>keyEquivalent</key>
	<string>^</string>
	<key>name</key>
	<string>Newline — \n</string>
	<key>scope</key>
	<string>source</string>
	<key>uuid</key>
	<string>DB79A3E7-ED7C-433E-AA0E-40B2EF7FB4AD</string>
</dict>
</plist>
