<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>puevf@pwnpx.pbz</string>
	<key>contactName</key>
	<string>Chris Thomas</string>
	<key>deleted</key>
	<array>
		<string>BAFE4C4F-8D59-48CD-A3BC-52A2084531C9</string>
	</array>
	<key>description</key>
	<string>Miscellaneous support for working with &lt;a href="http://www.regular-expressions.info/"&gt;regular expressions&lt;/a&gt;.</string>
	<key>name</key>
	<string>Regular Expressions</string>
	<key>ordering</key>
	<array>
		<string>7EB957A4-A531-11D9-917B-000D9332809C</string>
		<string>8FDBC987-A543-11D9-B374-000D9332809C</string>
	</array>
	<key>uuid</key>
	<string>57D5EDA2-A531-11D9-917B-000D9332809C</string>
</dict>
</plist>
