<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>saveActiveFile</string>
	<key>command</key>
	<string>set `${TM_RUBY:=ruby} --version`
echo "using ruby-$2 / erb"

"${TM_ERB:=erb}" -T - -x "$TM_FILEPATH" | "${TM_RUBY:=ruby}" -c </string>
	<key>input</key>
	<string>none</string>
	<key>keyEquivalent</key>
	<string>^V</string>
	<key>name</key>
	<string>Validate Syntax (ERB)</string>
	<key>output</key>
	<string>showAsTooltip</string>
	<key>scope</key>
	<string>text.html.ruby, text.html source.ruby</string>
	<key>uuid</key>
	<string>76FCF165-54CB-4213-BC55-BD60B9C6A3EC</string>
</dict>
</plist>
