<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>saveActiveFile</string>
	<key>command</key>
	<string>set `${TM_RUBY:=ruby} --version`
echo "using ruby-$2"

"${TM_RUBY:=ruby}" -wc "$TM_FILEPATH"</string>
	<key>input</key>
	<string>none</string>
	<key>keyEquivalent</key>
	<string>^V</string>
	<key>name</key>
	<string>Validate Syntax</string>
	<key>output</key>
	<string>showAsTooltip</string>
	<key>scope</key>
	<string>source.ruby</string>
	<key>uuid</key>
	<string>EE5F19BA-6C02-11D9-92BA-0011242E4184</string>
</dict>
</plist>
