<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>${1:name} := Object clone do(
	$0
)</string>
	<key>name</key>
	<string>Object clone do</string>
	<key>scope</key>
	<string>source.io</string>
	<key>tabTrigger</key>
	<string>ocdo</string>
	<key>uuid</key>
	<string>FEF230FE-43A6-423C-B9DF-D03E6066D1AC</string>
</dict>
</plist>
